
{
    -fx-orange-color: #D9631E;
    -fx-pretty-font-family: "SF Pro Display";
}

.orange {
    -fx-pref-height: 20px;
    -fx-font-family: -fx-pretty-font-family;
}

.orange:selected .thumb-area {
    -fx-background-color: -fx-orange-color;
}

.orange-slider > .thumb {
    -fx-focus-color: -fx-orange-color;
    -fx-background-color: -fx-orange-color;
}

.orange-slider {
    -jfx-default-thumb: -fx-orange-color;
    -fx-font-family: -fx-pretty-font-family;
}

.orange-slider .colored-track {
    -fx-background-color: -fx-orange-color;
}

.orange-slider .animated-thumb {
    -fx-background-color: -fx-orange-color;
}

.orange {
    -jfx-toggle-color: -fx-orange-color;
}